body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  width: 100vw;
  height: 100vh;
}

nav {
  background-color: #c22177;
  color: white;
  flex-basis: 20vw;
}

header {
  display: flex;
  background-color: black;
  color: white;
  height: 20vh;
  flex-basis: 20v;
  width: 100%;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  height: 20vh;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  height: 60vh;
  width: 80vw;
}

article {
  background-color: white;
  flex-grow: 3;
  min-height: calc(100vh - 40vh);
}

aside {
  background-color: #320388;
  color: white;
  flex-grow: 2;
  min-height: calc(100vh - 40vh);
}

h3 {
  padding-left: 1vw;
}
